{{> head }}
{{> navbar  }}



<div class="row">
    <div class="col-8">
        <h1>Imagen de Meme</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam blanditiis aspernatur corrupti et sed voluptate vero odit minus cum nostrum earum laborum esse accusamus, nesciunt quasi totam saepe est. Veritatis?</p>
    </div>

    <div class="col-4">
        <img src="assets/img/imagen-prueba.jpg" class="img-thumbnail">

    </div>


</div>


   {{> footer}}

